In [67]:
import pandas as pd
from datetime import datetime, timedelta
from datetime import datetime, timedelta
import random


start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 2, 1)

dates_between = []
current_date = start_date

while current_date < end_date:
    dates_between.append(current_date.strftime('%Y-%m-%d'))
    current_date += timedelta(days=1)

    random_number = []
for i in range(len(dates_between)):
    random_number.append(random.randint(1, 10))

random_number_s = []
for i in range(len(dates_between)):
    random_number_s.append(random.randint(1, 10))
    
df = pd.DataFrame({})
df["date"] = dates_between
df["value"] = random_number
df["s"] = random_number_s
df["diff"] = df["value"] +df["s"]
df = df.sort_values(by = "date").reset_index(drop=True)
df['date'] = pd.to_datetime(df['date'])
df['diff'] = df['diff'].astype(int)
df['Date_end'] = df['date'] + pd.to_timedelta(df['diff'], unit='D')
df["sum"] = 0


for i in range(df.shape[0]):
    df.loc[i,"sum"] = sum(df[(df["date"]>=df.loc[i,"date"])&(df["date"]<=df.loc[i,"Date_end"])]["value"])

In [68]:
df

         date  value   s  diff   Date_end  sum
0  2024-01-01      8   6    14 2024-01-15   91
1  2024-01-02      1   3     4 2024-01-06   27
2  2024-01-03      5   4     9 2024-01-12   66
3  2024-01-04      7   7    14 2024-01-18   88
4  2024-01-05     10   6    16 2024-01-21   99
5  2024-01-06      4   9    13 2024-01-19   76
6  2024-01-07      7   9    16 2024-01-23   94
7  2024-01-08     10   9    19 2024-01-27  118
8  2024-01-09      6   1     7 2024-01-16   42
9  2024-01-10      9   8    17 2024-01-27  102
10 2024-01-11      5   1     6 2024-01-17   31
11 2024-01-12      3  10    13 2024-01-25   73
12 2024-01-13      6   2     8 2024-01-21   45
13 2024-01-14      3   6     9 2024-01-23   48
14 2024-01-15      7   2     9 2024-01-24   53
15 2024-01-16      3   9    12 2024-01-28   76
16 2024-01-17      4  10    14 2024-01-31   84
17 2024-01-18      4   2     6 2024-01-24   39
18 2024-01-19      5   9    14 2024-02-02   76
19 2024-01-20      6   5    11 2024-01-31   71
20 2024-01-21      7   1     8 2024-01-29   63
21 2024-01-22      7   2     9 2024-01-31   58
22 2024-01-23      2   7     9 2024-02-01   51
23 2024-01-24      8   3    11 2024-02-04   49
24 2024-01-25      8   4    12 2024-02-06   41
25 2024-01-26      5   6    11 2024-02-06   33
26 2024-01-27     10   1    11 2024-02-07   28
27 2024-01-28      7   9    16 2024-02-13   18
28 2024-01-29      9   6    15 2024-02-13   11
29 2024-01-30      1  10    11 2024-02-10    2
30 2024-01-31      1  10    11 2024-02-11    1

In [71]:
import pandas as pd
from datetime import datetime, timedelta
import random

# Generate dates between '2024-01-01' and '2024-02-01'
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 2, 1)
dates_between = pd.date_range(start=start_date, end=end_date - timedelta(days=1), freq='D').strftime('%Y-%m-%d')

# Generate random values for 'value' and 's' columns
random_numbers = [random.randint(1, 10) for _ in range(len(dates_between))]
random_numbers_s = [random.randint(1, 10) for _ in range(len(dates_between))]

# Create DataFrame
df = pd.DataFrame({
    "date": dates_between,
    "value": random_numbers,
    "s": random_numbers_s
})

# Calculate 'diff' column
df["diff"] = df["value"] + df["s"]

# Convert 'date' column to datetime
df['date'] = pd.to_datetime(df['date'])

# Sort DataFrame by 'date'
df = df.sort_values(by="date").reset_index(drop=True)

# Calculate 'Date_end' column
df['Date_end'] = df['date'] + pd.to_timedelta(df['diff'], unit='D')

# Calculate 'sum' column using rolling sum

for i in range(df.shape[0]):
    df.loc[i,"sum"] = sum(df[(df["date"]>=df.loc[i,"date"])&(df["date"]<=df.loc[i,"Date_end"])]["value"])

In [72]:
df

         date  value   s  diff   Date_end   sum
0  2024-01-01      1   2     3 2024-01-04  23.0
1  2024-01-02      9   5    14 2024-01-16  98.0
2  2024-01-03      9   5    14 2024-01-17  97.0
3  2024-01-04      4   9    13 2024-01-17  88.0
4  2024-01-05      9   2    11 2024-01-16  76.0
5  2024-01-06      6   4    10 2024-01-16  67.0
6  2024-01-07      7   2     9 2024-01-16  61.0
7  2024-01-08      7   9    16 2024-01-24  95.0
8  2024-01-09      4  10    14 2024-01-23  81.0
9  2024-01-10      5   3     8 2024-01-18  54.0
10 2024-01-11      9   1    10 2024-01-21  62.0
11 2024-01-12      2   4     6 2024-01-18  40.0
12 2024-01-13      5   8    13 2024-01-26  83.0
13 2024-01-14      5   8    13 2024-01-27  79.0
14 2024-01-15      8   5    13 2024-01-28  78.0
15 2024-01-16      9   3    12 2024-01-28  70.0
16 2024-01-17      8   1     9 2024-01-26  56.0
17 2024-01-18      3   1     4 2024-01-22  17.0
18 2024-01-19      8   8    16 2024-02-04  65.0
19 2024-01-20      2   4     6 2024-01-26  37.0
20 2024-01-21      3  10    13 2024-02-03  55.0
21 2024-01-22      1   3     4 2024-01-26  32.0
22 2024-01-23      9  10    19 2024-02-11  51.0
23 2024-01-24      7   7    14 2024-02-07  42.0
24 2024-01-25     10   1    11 2024-02-05  35.0
25 2024-01-26      5   1     6 2024-02-01  25.0
26 2024-01-27      1   5     6 2024-02-02  20.0
27 2024-01-28      4  10    14 2024-02-11  19.0
28 2024-01-29      8   9    17 2024-02-15  15.0
29 2024-01-30      2   3     5 2024-02-04   7.0
30 2024-01-31      5   5    10 2024-02-10   5.0